@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/flexbox';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px 20px;
  overflow: hidden;
  background-color: white;
  @include responsive.after(LD) {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
}

.header {
  width: 100%;
  height: 70px;
  font-size: 30px;
  font-weight: bold;
  background-color: colors.$WHITE;
  border-bottom: 5px solid colors.$BLACK;

  @include flexbox.flexbox(center, center);
  @include responsive.after(LD) {
    height: 100px;
  }
}

.footer {
  width: 100%;
  height: 50px;
  font-size: 22px;
  font-weight: bold;
  background-color: colors.$WHITE;
  border-top: 5px solid colors.$BLACK;
  @include flexbox.flexbox(center, center);
  @include responsive.after(LD) {
    height: 50px;
  }
}
