@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/animation';

.modalWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 80%);
  @include flexbox.flexbox(center, center);

  .modalBox {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 77vw;
    min-width: 290px;
    padding: 20px;
    background-color: #ffffff;
    @include responsive.after(ML) {
      width: 70vw;
      padding: 40px 20px 50px;
    }
    @include responsive.after(SD) {
      width: 70vw;
      padding: 40px 30px 50px;
    }
    @include responsive.after(MD) {
      width: 50vw;
    }
    @include responsive.after(HD) {
      width: 44vw;
    }

    .todayDateTitle {
      font-size: 25px;
      font-weight: bold;
      @include responsive.after(MD) {
        font-size: 30px;
      }
    }

    .inputWrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin: 20px 0 30px;
      font-size: 16px;
      @include responsive.after(ML) {
        flex-direction: row;
        margin: 50px 0 30px;
        @include flexbox.flexbox(center, center);
      }

      & label {
        margin-top: 10px;
        font-size: 15px;
        @include flexbox.flexbox(center, center);
        cursor: pointer;
        @include responsive.after(ML) {
          margin-top: 0;
          margin-right: 5px;
        }
        @include responsive.after(SD) {
          margin-right: 10px;
          font-size: 16px;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      & input {
        margin-left: 10px;
        cursor: pointer;
        border: 3px solid colors.$GRAY2;
      }

      & input[type='checkbox'] {
        position: relative;
        width: 30px;
        height: 30px;
        background-color: colors.$WHITE;

        &.checked:checked::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 24px;
          height: 24px;
          content: '';
          background-color: colors.$MAIN;
        }

        &:disabled {
          cursor: not-allowed;
        }
      }

      & input[type='color'] {
        width: 35px;
        border: 3px solid colors.$GRAY2;
      }

      & input[type='color']::-webkit-color-swatch-wrapper {
        padding: 0;
      }

      & input[type='color']::-webkit-color-swatch {
        border: none;
      }

      & input[type='text'] {
        width: 80px;
        padding: 0 5px;
        border: none;
        border-bottom: 3px solid colors.$GRAY2 !important;

        @include responsive.after(ML) {
          width: 70px;
        }
      }
    }

    .modalMemo {
      width: 100%;
      height: 29vh;
      padding: 10px;
      margin-bottom: 30px;
      font-size: 18px;
      resize: none;
      border: 3px solid colors.$GRAY2;

      &::placeholder {
        font-size: 18px;
      }

      @include responsive.after(MD) {
        height: 30vh;
      }
    }

    .closeBtn {
      position: absolute;
      top: 14px;
      right: 20px;
      font-size: 30px;
      font-weight: bold;
      @include animation.cubicBezier(0.2s);
      @include responsive.after(ML) {
        top: 25px;
      }

      &:hover {
        color: colors.$MAIN;
      }
    }

    .handleBtn {
      width: 100%;
      padding: 5px 25px;
      font-size: 20px;
      font-weight: bold;
      border: 3px solid colors.$GRAY2;
      @include animation.cubicBezier(0.2s);

      &:hover {
        color: colors.$WHITE;
        background-color: colors.$GRAY2;
      }

      &:last-child {
        margin-top: 15px;

        &:hover {
          color: colors.$WHITE;
          background-color: colors.$RED;
          border-color: colors.$RED;
        }
      }
    }
  }
}
