@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/flexbox';

.werwer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(221, 6, 6, 80%);
}

.modalWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 80%);

  @include flexbox.flexbox(center, center);

  .modalBox {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    min-width: 320px;
    padding: 40px 30px 50px;
    background-color: #ffffff;
    @include responsive.after(MD) {
      width: 50vw;
    }
    @include responsive.after(HD) {
      width: 44vw;
    }

    .todayDateTitle {
      font-size: 25px;
      font-weight: bold;
      @include responsive.after(MD) {
        font-size: 30px;
      }
    }

    .inputWrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin: 50px 0 30px;
      font-size: 16px;
      @include responsive.after(ML) {
        flex-direction: row;
        justify-content: center;
      }

      & label {
        @include flexbox.flexbox(center, center);
        margin: 0 0 15px;
        cursor: pointer;
        @include responsive.after(ML) {
          margin-right: 15px;
        }

        &:last-child {
          margin-left: 10px;
        }
      }

      & input {
        position: relative;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        cursor: pointer;
        border: 3px solid colors.$GRAY2;

        &:checked::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 24px;
          height: 24px;
          content: '';
          background-color: colors.$MAIN;
        }
      }

      .colorInputWrap {
        @include flexbox.flexbox(center, center);

        & h3 {
          font-size: 16px;
        }

        & input[type='color'] {
          width: 100px;
          margin: 0 10px;
          border: none;
          -webkit-appearance: none;
        }

        & input[type='color']::-webkit-color-swatch-wrapper {
          padding: 0;
        }

        & input[type='color']::-webkit-color-swatch {
          border: none;
          border-radius: px;
        }

        & p {
          font-size: 15px;
        }
      }
    }

    .modalMemo {
      width: 100%;
      height: 50vh;
      padding: 10px;
      margin-bottom: 30px;
      font-size: 18px;
      resize: none;
      border: 3px solid colors.$GRAY2;

      &::placeholder {
        font-size: 18px;
      }

      @include responsive.after(MD) {
        height: 30vh;
      }
    }

    .closeBtn {
      position: absolute;
      top: 25px;
      right: 20px;
      font-size: 30px;
      font-weight: bold;
      transition: all 0.2s;

      &:hover {
        color: colors.$MAIN;
      }
    }

    .saveBtn {
      width: 100%;
      padding: 5px 20px;
      font-size: 20px;
      font-weight: bold;
      border: 3px solid colors.$GRAY2;
      transition: all 0.2s;

      &:hover {
        color: colors.$WHITE;
        background-color: colors.$GRAY2;
      }
    }
  }
}
